 <header>
        <nav class="round">
          <ul>
            <li> <%= link_to "Acceuil", '/' %>
            <li><%= link_to "Chapitre", chapitres_path %></li>
            <li><%= link_to "Anecdote", anecdotes_path %></li>
            <li><%= link_to "Scene", scenes_path %></li>
            <li><%= link_to "Personne", personnes_path %></li>
          </ul>
        </nav>
      </header>
